# Python
__pycache__/
*.pyc

# Vscode and IDEs
.vscode/
.idea/

# Data files
data/*.csv
data/*.xlsx

# AI embeddings + FAISS
embeddings/*.npy
embeddings/*.idx

# Temporary images
temp_*
*.jpg
*.png
data/.thumbnails/*

#logs
*.log
smart_gallery.log


# OS
.DS_Store
Thumbs.db
