# Python
__pycache__/
*.pyc

# Data files
data/*.csv
data/*.xlsx

# AI embeddings + FAISS
embeddings/*.npy
embeddings/*.idx

# Temporary images
temp_*
*.jpg
data/.thumbnails/*.png

# OS
.DS_Store
Thumbs.db
